<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "jar:file:./lib/log4j-1.2.15.jar!/org/apache/log4j/xml/log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

    <appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p (%F:%L) - %m%n"/>
        </layout>
    </appender>


    <logger name="com.ssm">
        <level value="DEBUG"/>
    </logger>

    <logger name="org.apache">
        <level value="ERROR"/>
    </logger>

    <logger name="org.hibernate">
        <level value="ERROR"/>
    </logger>

    <logger name="org.springframework">
        <level value="ERROR"/>
    </logger>

    <logger name="org.springframework.security">
        <level value="DEBUG"/>
    </logger>
    <logger name="org.springframework.web">
        <level value="DEBUG"/>
    </logger>

    <root>
        <priority value="ERROR"/>
        <appender-ref ref="STDOUT"/>
    </root>

</log4j:configuration>
